/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'quicksandlight_oblique';
  src: url("../../font/quicksand_light_oblique-webfont.eot");
  src: url("../../font/quicksand_light_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_light_oblique-webfont.woff") format("woff"), url("../../font/quicksand_light_oblique-webfont.ttf") format("truetype"), url("../../font/quicksand_light_oblique-webfont.svg#quicksandlight_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbook';
  src: url("../../font/quicksand_book-webfont.eot");
  src: url("../../font/quicksand_book-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_book-webfont.woff") format("woff"), url("../../font/quicksand_book-webfont.ttf") format("truetype"), url("../../font/quicksand_book-webfont.svg#quicksandbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbold_oblique';
  src: url("../../font/quicksand_bold_oblique-webfont.eot");
  src: url("../../font/quicksand_bold_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_bold_oblique-webfont.woff") format("woff"), url("../../font/quicksand_bold_oblique-webfont.ttf") format("truetype"), url("../../font/quicksand_bold_oblique-webfont.svg#quicksandbold_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Media queries variables */
/* line 22, ../sass/style.scss */
body, html {
  background: #f8f8f8;
}

/* line 27, ../sass/style.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 34, ../sass/style.scss */
div.wrapper {
  width: 960px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 43, ../sass/style.scss */
div.wrapper header {
  position: relative;
  margin-top: 70px;
}
/* line 48, ../sass/style.scss */
div.wrapper header h1 {
  font-size: 0px;
}
/* line 53, ../sass/style.scss */
div.wrapper header div#logo {
  width: 187px;
  margin: auto;
  position: relative;
  z-index: 2;
  background: #f8f8f8;
  text-align: center;
}
/* line 65, ../sass/style.scss */
div.wrapper header nav {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 87px;
  font-family: quicksandlight_oblique;
  font-size: 1.5em;
  color: #2d2d2d;
  border-bottom: solid 1px #2d2d2d;
}
/* line 80, ../sass/style.scss */
div.wrapper header nav ul {
  width: 300px;
}
/* line 84, ../sass/style.scss */
div.wrapper header nav ul li {
  display: inline-block;
}
/* line 93, ../sass/style.scss */
div.wrapper h2 {
  margin: 70px 0 0 0;
  font-family: quicksandbook;
  color: #2d2d2d;
  font-size: 1.5em;
}
/* line 101, ../sass/style.scss */
div.wrapper h2 em {
  font-family: quicksandlight_oblique;
  color: #2d2d2d;
}
/* line 108, ../sass/style.scss */
div.wrapper div#projects {
  margin-top: 70px;
}
/* line 112, ../sass/style.scss */
div.wrapper div#projects ul {
  font-family: quicksandlight_oblique;
  color: #f8f8f8;
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
  margin-top: -45px;
}
/* line 121, ../sass/style.scss */
div.wrapper div#projects ul li:hover {
  cursor: pointer;
}
/* line 124, ../sass/style.scss */
div.wrapper div#projects ul li:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 128, ../sass/style.scss */
div.wrapper div#projects ul li:hover div.hexagon-center {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 138, ../sass/style.scss */
div.wrapper div#projects ul li {
  display: inline-block;
  height: 250px;
  width: 226px;
  margin-left: 10px;
  margin-bottom: -56px;
  position: relative;
}
/* line 148, ../sass/style.scss */
div.wrapper div#projects ul li img {
  position: absolute;
  top: 47px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 156, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -65px;
  border-bottom: 65px solid #89befa;
  border-left: 113px solid transparent;
  border-right: 113px solid transparent;
}
/* line 174, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center {
  background: #89befa;
  height: 120px;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 185, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 120px;
  left: 0;
  border-top: 65px solid #89befa;
  border-left: 113px solid transparent;
  border-right: 113px solid transparent;
}
/* line 202, ../sass/style.scss */
div.wrapper div#projects ul li span {
  margin: 50% auto;
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
/* line 214, ../sass/style.scss */
div.wrapper div#projects ul li:nth-child(7n-2) {
  margin-left: 128px;
}
/* line 220, ../sass/style.scss */
div.wrapper div#social {
  margin: 175px auto 0 auto;
}
/* line 225, ../sass/style.scss */
div.wrapper div#social ul {
  margin-top: 70px;
  text-align: center;
}
/* line 230, ../sass/style.scss */
div.wrapper div#social ul li {
  display: inline-block;
}
/* line 234, ../sass/style.scss */
div.wrapper div#social ul li a {
  display: block;
  width: 64px;
  height: 64px;
}
/* line 241, ../sass/style.scss */
div.wrapper div#social ul li a.github {
  background: url("../../img/github.png") 0 0 no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 246, ../sass/style.scss */
div.wrapper div#social ul li a.github:hover {
  background: url("../../img/github.png") 0 -64px no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 251, ../sass/style.scss */
div.wrapper div#social ul li a.flickr {
  background: url("../../img/flickr.png") 0 0 no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 256, ../sass/style.scss */
div.wrapper div#social ul li a.flickr:hover {
  background: url("../../img/flickr.png") 0 -64px no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 261, ../sass/style.scss */
div.wrapper div#social ul li a.pinterest {
  background: url("../../img/pinterest.png") 0 0 no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 266, ../sass/style.scss */
div.wrapper div#social ul li a.pinterest:hover {
  background: url("../../img/pinterest.png") 0 -64px no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 271, ../sass/style.scss */
div.wrapper div#social ul li a.twitter {
  background: url("../../img/twitter.png") 0 0 no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 276, ../sass/style.scss */
div.wrapper div#social ul li a.twitter:hover {
  background: url("../../img/twitter.png") 0 -64px no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 281, ../sass/style.scss */
div.wrapper div#social ul li a.linkedin {
  background: url("../../img/linkedin.png") 0 0 no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 286, ../sass/style.scss */
div.wrapper div#social ul li a.linkedin:hover {
  background: url("../../img/linkedin.png") 0 -64px no-repeat;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/* line 294, ../sass/style.scss */
div.wrapper div#contact {
  margin-bottom: 60px;
}
/* line 297, ../sass/style.scss */
div.wrapper div#contact a:link, div.wrapper div#contact a:visited {
  text-decoration: none;
  color: #2d2d2d;
}
/* line 302, ../sass/style.scss */
div.wrapper div#contact a:hover, div.wrapper div#contact a:active {
  text-decoration: none;
  color: #89befa;
}

/* line 309, ../sass/style.scss */
#project-details::-webkit-scrollbar {
  display: none;
}

/* line 314, ../sass/style.scss */
.projet-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 120px auto;
  z-index: 1;
  width: 960px;
  text-align: center;
}
/* line 327, ../sass/style.scss */
.projet-content h1.project-title {
  font-family: quicksandbook;
  color: #f8f8f8;
  font-size: 3em;
  margin-bottom: 40px;
}
/* line 336, ../sass/style.scss */
.projet-content img.project-img {
  margin-bottom: 40px;
}
/* line 340, ../sass/style.scss */
.projet-content p.project-description {
  width: 600px;
  margin: auto;
  text-align: justify;
  font-family: quicksandlight_oblique;
  font-size: 1.1em;
  color: #f8f8f8;
}

/* line 353, ../sass/style.scss */
div#project-details {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  	/*
  	div.panel.left
  	{
  		width:50%;
  		height:100%;
  		float:left;
  		background:$darkGrey;
  		position: relative;
  		left:-50%;
  
  		@include transition(left 1s linear);			
  
  	}
  	*/
  	/*
  	div.panel.left.active
  	{
  		left:0;	
  		@include transition(left 1s linear);
  
  	}
  	*/
}
/* line 377, ../sass/style.scss */
div#project-details div.panel.right {
  width: 100%;
  height: 100%;
  float: right;
  background: #2d2d2d;
  position: relative;
  right: -100%;
  -webkit-transition: right 1s linear;
  -moz-transition: right 1s linear;
  -o-transition: right 1s linear;
  transition: right 1s linear;
}
/* line 398, ../sass/style.scss */
div#project-details div.panel.right.active {
  right: 0;
  -webkit-transition: right 1s linear;
  -moz-transition: right 1s linear;
  -o-transition: right 1s linear;
  transition: right 1s linear;
}

/* line 405, ../sass/style.scss */
div#project-details.active {
  z-index: 3;
}

/* line 410, ../sass/style.scss */
.project-details-resized {
  height: auto;
}

@media only screen and (max-width: 960px) {
  /* line 416, ../sass/style.scss */
  div.wrapper {
    width: 100%;
  }
  /* line 422, ../sass/style.scss */
  div.wrapper header nav {
    display: none;
  }
  /* line 427, ../sass/style.scss */
  div.wrapper header h2#description {
    padding: 0 20px;
  }
  /* line 434, ../sass/style.scss */
  div.wrapper div#projects {
    margin: 70px 0 0 0;
  }
  /* line 437, ../sass/style.scss */
  div.wrapper div#projects ul {
    margin: 0;
  }
  /* line 442, ../sass/style.scss */
  div.wrapper div#projects ul li:hover div.hexagon-center {
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 450, ../sass/style.scss */
  div.wrapper div#projects ul li {
    display: block;
    height: 225px;
    width: 100%;
    margin: 0 0 5px 0;
  }
  /* line 456, ../sass/style.scss */
  div.wrapper div#projects ul li img {
    display: none;
  }
  /* line 461, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center:before {
    display: none;
    position: relative;
    top: 0;
  }
  /* line 469, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center {
    background: #89befa;
    position: relative;
    top: 0;
    height: 225px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 480, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center:after {
    display: none;
    position: relative;
    top: 0;
  }
  /* line 487, ../sass/style.scss */
  div.wrapper div#projects ul li span {
    margin: 0;
    display: block;
    height: 225px;
    line-height: 225px;
    text-align: center;
  }
  /* line 499, ../sass/style.scss */
  div.wrapper div#projects ul li:nth-child(7n-2) {
    margin-left: 0;
  }
  /* line 506, ../sass/style.scss */
  div.wrapper div#social {
    margin: 70px auto 0 auto;
  }
  /* line 511, ../sass/style.scss */
  div.wrapper div#social h2 {
    display: none;
  }
  /* line 516, ../sass/style.scss */
  div.wrapper div#social ul {
    margin: 0;
  }
  /* line 521, ../sass/style.scss */
  div.wrapper div#social ul li {
    display: inline-block;
  }
  /* line 525, ../sass/style.scss */
  div.wrapper div#social ul li a {
    display: block;
    width: 64px;
    height: 64px;
  }
  /* line 532, ../sass/style.scss */
  div.wrapper div#social ul li a.github {
    background: url("../../img/github.png") 0 -64px no-repeat;
  }
  /* line 538, ../sass/style.scss */
  div.wrapper div#social ul li a.flickr {
    background: url("../../img/flickr.png") 0 -64px no-repeat;
  }
  /* line 543, ../sass/style.scss */
  div.wrapper div#social ul li a.pinterest {
    background: url("../../img/pinterest.png") 0 -64px no-repeat;
  }
  /* line 549, ../sass/style.scss */
  div.wrapper div#social ul li a.twitter {
    background: url("../../img/twitter.png") 0 -64px no-repeat;
  }
  /* line 555, ../sass/style.scss */
  div.wrapper div#social ul li a.linkedin {
    background: url("../../img/linkedin.png") 0 -64px no-repeat;
  }

  /* line 566, ../sass/style.scss */
  .projet-content {
    width: 100%;
    margin: 40px auto;
  }
}
@media only screen and (max-width: 360px) {
  /* line 577, ../sass/style.scss */
  div.wrapper {
    width: 100%;
  }
  /* line 584, ../sass/style.scss */
  div.wrapper header h2#description {
    text-align: left;
  }

  /* line 592, ../sass/style.scss */
  .projet-content img.project-img {
    width: 300px;
    height: 200px;
  }
  /* line 596, ../sass/style.scss */
  .projet-content p.project-description {
    width: 300;
    margin: auto;
    padding: 0 10px;
    text-align: left;
    font-family: quicksandlight_oblique;
    font-size: 1.1em;
    color: #f8f8f8;
  }
}
