/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'quicksandlight_oblique';
  src: url("../../font/quicksand_light_oblique-webfont.eot");
  src: url("../../font/quicksand_light_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_light_oblique-webfont.woff") format("woff"), url("../../font/quicksand_light_oblique-webfont.ttf") format("truetype"), url("../../font/quicksand_light_oblique-webfont.svg#quicksandlight_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbook';
  src: url("../../font/quicksand_book-webfont.eot");
  src: url("../../font/quicksand_book-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_book-webfont.woff") format("woff"), url("../../font/quicksand_book-webfont.ttf") format("truetype"), url("../../font/quicksand_book-webfont.svg#quicksandbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbold_oblique';
  src: url("../../font/quicksand_bold_oblique-webfont.eot");
  src: url("../../font/quicksand_bold_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/quicksand_bold_oblique-webfont.woff") format("woff"), url("../../font/quicksand_bold_oblique-webfont.ttf") format("truetype"), url("../../font/quicksand_bold_oblique-webfont.svg#quicksandbold_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Media queries variables */
/* line 18, ../sass/style.scss */
body, html {
  background: #f8f8f8;
}

/* line 22, ../sass/style.scss */
div.wrapper {
  width: 960px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* line 31, ../sass/style.scss */
div.wrapper header {
  position: relative;
  margin-top: 70px;
}
/* line 36, ../sass/style.scss */
div.wrapper header h1 {
  font-size: 0px;
}
/* line 41, ../sass/style.scss */
div.wrapper header div#logo {
  width: 187px;
  margin: auto;
  position: relative;
  z-index: 2;
  background: #f8f8f8;
  text-align: center;
}
/* line 53, ../sass/style.scss */
div.wrapper header nav {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 63px;
  font-family: quicksandlight_oblique;
  font-size: 1.5em;
  color: #2d2d2d;
  border-bottom: solid 1px #2d2d2d;
}
/* line 68, ../sass/style.scss */
div.wrapper header nav ul {
  width: 300px;
}
/* line 72, ../sass/style.scss */
div.wrapper header nav ul li {
  display: inline-block;
}
/* line 81, ../sass/style.scss */
div.wrapper h2 {
  margin: 70px 0 0 0;
  font-family: quicksandbook;
  color: #2d2d2d;
  font-size: 1.5em;
}
/* line 89, ../sass/style.scss */
div.wrapper h2 em {
  font-family: quicksandlight_oblique;
  color: #2d2d2d;
}
/* line 96, ../sass/style.scss */
div.wrapper div#projects {
  margin-top: 70px;
}
/* line 100, ../sass/style.scss */
div.wrapper div#projects ul {
  font-family: quicksandlight_oblique;
  color: #f8f8f8;
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
  margin-top: -45px;
}
/* line 109, ../sass/style.scss */
div.wrapper div#projects ul li:hover {
  cursor: pointer;
}
/* line 112, ../sass/style.scss */
div.wrapper div#projects ul li:hover img {
  opacity: 1;
  transition: opacity 0.2s linear;
}
/* line 116, ../sass/style.scss */
div.wrapper div#projects ul li:hover div.hexagon-center {
  opacity: 0;
  transition: opacity 0.2s linear;
}
/* line 125, ../sass/style.scss */
div.wrapper div#projects ul li {
  display: inline-block;
  height: 250px;
  width: 226px;
  margin-left: 10px;
  margin-bottom: -56px;
  position: relative;
}
/* line 135, ../sass/style.scss */
div.wrapper div#projects ul li img {
  position: absolute;
  top: 47px;
  opacity: 0;
  transition: opacity 0.2s linear;
}
/* line 147, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -65px;
  border-bottom: 65px solid #89befa;
  border-left: 113px solid transparent;
  border-right: 113px solid transparent;
}
/* line 165, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center {
  background: #89befa;
  height: 120px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s linear;
}
/* line 176, ../sass/style.scss */
div.wrapper div#projects ul li div.hexagon-center:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 120px;
  left: 0;
  border-top: 65px solid #89befa;
  border-left: 113px solid transparent;
  border-right: 113px solid transparent;
}
/* line 193, ../sass/style.scss */
div.wrapper div#projects ul li span {
  margin: 50% auto;
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
/* line 205, ../sass/style.scss */
div.wrapper div#projects ul li:nth-child(7n-2) {
  margin-left: 128px;
}
/* line 211, ../sass/style.scss */
div.wrapper div#social {
  margin: 175px auto 0 auto;
}
/* line 216, ../sass/style.scss */
div.wrapper div#social ul {
  margin-top: 70px;
  text-align: center;
}
/* line 221, ../sass/style.scss */
div.wrapper div#social ul li {
  display: inline-block;
}
/* line 225, ../sass/style.scss */
div.wrapper div#social ul li a {
  display: block;
  width: 64px;
  height: 64px;
}
/* line 232, ../sass/style.scss */
div.wrapper div#social ul li a.github {
  background: url("../../img/github.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}
/* line 237, ../sass/style.scss */
div.wrapper div#social ul li a.github:hover {
  background: url("../../img/github.png") 0 -64px no-repeat;
  transition: background 0.2s linear;
}
/* line 242, ../sass/style.scss */
div.wrapper div#social ul li a.flickr {
  background: url("../../img/flickr.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}
/* line 247, ../sass/style.scss */
div.wrapper div#social ul li a.flickr:hover {
  background: url("../../img/flickr.png") 0 -64px no-repeat;
  transition: background 0.2s linear;
}
/* line 252, ../sass/style.scss */
div.wrapper div#social ul li a.pinterest {
  background: url("../../img/pinterest.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}
/* line 257, ../sass/style.scss */
div.wrapper div#social ul li a.pinterest:hover {
  background: url("../../img/pinterest.png") 0 -64px no-repeat;
  transition: background 0.2s linear;
}
/* line 262, ../sass/style.scss */
div.wrapper div#social ul li a.twitter {
  background: url("../../img/twitter.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}
/* line 267, ../sass/style.scss */
div.wrapper div#social ul li a.twitter:hover {
  background: url("../../img/twitter.png") 0 -64px no-repeat;
  transition: background 0.2s linear;
}
/* line 272, ../sass/style.scss */
div.wrapper div#social ul li a.linkedin {
  background: url("../../img/github.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}
/* line 277, ../sass/style.scss */
div.wrapper div#social ul li a.linkedin:hover {
  background: url("../../img/github.png") 0 0 no-repeat;
  transition: background 0.2s linear;
}

/* line 288, ../sass/style.scss */
div#project-details {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
}
/* line 296, ../sass/style.scss */
div#project-details div.panel.left {
  width: 50%;
  height: 100%;
  float: left;
  background: #89befa;
  position: relative;
  left: -50%;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  -ms-transition: left 1s;
}
/* line 312, ../sass/style.scss */
div#project-details div.panel.right {
  width: 50%;
  height: 100%;
  float: right;
  background: #89befa;
  position: relative;
  right: -50%;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  -o-transition: right 1s;
  -ms-transition: right 1s;
}
/* line 328, ../sass/style.scss */
div#project-details div.panel.left.active {
  left: 0;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  -ms-transition: left 1s;
}
/* line 337, ../sass/style.scss */
div#project-details div.panel.right.active {
  right: 0;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  -o-transition: right 1s;
  -ms-transition: right 1s;
}

/* line 347, ../sass/style.scss */
div#project-details.active {
  z-index: 3;
}

@media only screen and (max-width: 960px) {
  /* line 353, ../sass/style.scss */
  div.wrapper {
    width: 100%;
  }
  /* line 359, ../sass/style.scss */
  div.wrapper header nav {
    display: none;
  }
  /* line 364, ../sass/style.scss */
  div.wrapper header h2#description {
    padding: 0 20px;
  }
  /* line 371, ../sass/style.scss */
  div.wrapper div#projects {
    margin: 70px 0 0 0;
  }
  /* line 374, ../sass/style.scss */
  div.wrapper div#projects ul {
    margin: 0;
  }
  /* line 379, ../sass/style.scss */
  div.wrapper div#projects ul li:hover div.hexagon-center {
    opacity: 1;
    transition: none;
  }
  /* line 387, ../sass/style.scss */
  div.wrapper div#projects ul li {
    display: block;
    height: 225px;
    width: 100%;
    margin: 0 0 5px 0;
  }
  /* line 393, ../sass/style.scss */
  div.wrapper div#projects ul li img {
    display: none;
  }
  /* line 398, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center:before {
    display: none;
    position: relative;
    top: 0;
  }
  /* line 406, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center {
    background: #89befa;
    position: relative;
    top: 0;
    height: 225px;
    transition: none;
  }
  /* line 417, ../sass/style.scss */
  div.wrapper div#projects ul li div.hexagon-center:after {
    display: none;
    position: relative;
    top: 0;
  }
  /* line 424, ../sass/style.scss */
  div.wrapper div#projects ul li span {
    margin: 0;
    display: block;
    height: 225px;
    line-height: 225px;
    text-align: center;
  }
  /* line 436, ../sass/style.scss */
  div.wrapper div#projects ul li:nth-child(7n-2) {
    margin-left: 0;
  }
  /* line 443, ../sass/style.scss */
  div.wrapper div#social {
    margin: 70px auto 0 auto;
  }
  /* line 448, ../sass/style.scss */
  div.wrapper div#social h2 {
    display: none;
  }
  /* line 453, ../sass/style.scss */
  div.wrapper div#social ul {
    margin: 0;
  }
  /* line 458, ../sass/style.scss */
  div.wrapper div#social ul li {
    display: inline-block;
  }
  /* line 462, ../sass/style.scss */
  div.wrapper div#social ul li a {
    display: block;
    width: 64px;
    height: 64px;
  }
  /* line 469, ../sass/style.scss */
  div.wrapper div#social ul li a.github {
    background: url("../../img/github.png") 0 -64px no-repeat;
  }
  /* line 475, ../sass/style.scss */
  div.wrapper div#social ul li a.flickr {
    background: url("../../img/flickr.png") 0 -64px no-repeat;
  }
  /* line 480, ../sass/style.scss */
  div.wrapper div#social ul li a.pinterest {
    background: url("../../img/pinterest.png") 0 -64px no-repeat;
  }
  /* line 486, ../sass/style.scss */
  div.wrapper div#social ul li a.twitter {
    background: url("../../img/twitter.png") 0 -64px no-repeat;
  }
  /* line 492, ../sass/style.scss */
  div.wrapper div#social ul li a.linkedin {
    background: url("../../img/twitter.png") 0 -64px no-repeat;
  }
}
@media only screen and (max-width: 360px) {
  /* line 506, ../sass/style.scss */
  div.wrapper {
    width: 100%;
  }
  /* line 513, ../sass/style.scss */
  div.wrapper header h2#description {
    text-align: left;
  }
}
