@import "compass/reset";
@import "_font.scss";

$text-color:#2d2d2d;
$project-title-color:#f8f8f8;

$blue: #89befa;

$home-text-size:1.500em;


body,html

div.wrapper{

	width:960px;
	border:solid 1px red;
	margin:auto;
	text-align: center;

	header
	{
		nav
		{
			font-family: quicksandlight_oblique;
			font-size: $home-text-size;
			color: $text-color;
		}
	}

	h2
	{
		font-family: quicksandbook;
		color: $text-color;
		font-size: $home-text-size;

		em
		{
			font-family: quicksandlight_oblique;
			color: $text-color;
		}
	}

	div#projects
	{
		margin-top:100px;

		ul
		{
			font-family: quicksandbold_oblique;
			color: $project-title-color;
			font-size: $home-text-size;
			font-weight: normal;
			text-align: left;
			


			li
			{
				display:inline-block;
				height:222px;
				width:222px;
				margin-left:10px;
				margin-bottom:-43px;

				

				

				div.hexagon-center:before
				{
					content:"";
					
					width: 0px;	
					height:0px;

					position: absolute;

					top:-51px;
    				

					border-bottom: 51px solid $blue;
					border-left: 111px solid transparent;
					border-right: 111px solid transparent;

				}

				div.hexagon-center
				{
					background:$blue;
					height:120px;
					position:relative;
				}


				div.hexagon-center:after
				{
					content:"";

					width: 0px;					
					height:0px;

					position: absolute;
					top:120px;
					left:0;
    				

					border-top: 51px solid $blue;
					border-left: 111px solid transparent;
					border-right: 111px solid transparent;
				}		

				span
				{
					margin:50% auto;
				}
			}


			li:nth-child(7n-2)
			{
				margin-left:127px;
			}
		}
	}

	div#social
	{

		width:310px;
		margin:auto;

		ul
		{
			text-align: center;

			li
			{
				display: inline-block;

				a
				{
					display:block;
					width:64px;
					height:64px;
				}

				a.github
				{
					background:url('../images/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.github:hover
				{
					background:url('../images/github.png') 0 -64px no-repeat;
					transition:background 0.2s linear;	
				}
				a.flickr
				{
					background:url('../images/flickr.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.flickr:hover
				{
					background:url('../images/flickr.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.pinterest
				{
					background:url('../images/pinterest.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.pinterest:hover
				{
					background:url('../images/pinterest.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.twitter
				{
					background:url('../images/twitter.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.twitter:hover
				{
					background:url('../images/twitter.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.linkedin
				{
					background:url('../images/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.linkedin:hover
				{
					background:url('../images/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
			}
		}

	}
}



