@import "compass/reset";
@import "_font.scss";

$text-color:#2d2d2d;
$project-title-color:#f8f8f8;

$blue: #89befa;
$background-color: #f8f8f8;

$home-text-size:1.500em;

/* Media queries variables */
$tablet: "only screen and (max-width : 960px)";
$phone: "only screen and (max-width : 360px)";


body,html
{
	background: $background-color
}

div.wrapper{

	width:960px;
	margin:auto;
	text-align: center;
	position: relative;
	z-index: 1;

	header
	{
		position: relative;
		margin-top:70px;

		h1
		{
			font-size:0px;
		}

		div#logo
		{
			width:187px;
			margin:auto;
			position:relative;
			z-index:2;

			background: $background-color;
			text-align: center;
		}


		nav
		{
			z-index:1;

			width:100%;
			position:absolute;
			left:0;
			top:63px;

			font-family: quicksandlight_oblique;
			font-size: $home-text-size;
			color: $text-color;

			border-bottom:solid 1px #2d2d2d;

			ul
			{
				width:300px;

				li
				{
					display: inline-block;
				}
			}
			
		}
	}

	h2
	{
		margin:70px 0 0 0;

		font-family: quicksandbook;
		color: $text-color;
		font-size: $home-text-size;

		em
		{
			font-family: quicksandlight_oblique;
			color: $text-color;
		}
	}

	div#projects
	{
		margin-top:70px;

		ul
		{
			font-family: quicksandlight_oblique;
			color: $project-title-color;
			font-size: $home-text-size;
			font-weight: normal;
			text-align: left;

			margin-top:-45px;
			
			li:hover {
				cursor:pointer;

				img {
					opacity:1;
					transition:opacity 0.2s linear;
				}
				div.hexagon-center {
					opacity:0;
					transition:opacity 0.2s linear;
				}

			}
			

			li
			{
				display:inline-block;
				height:250px;
				width:226px;
				margin-left:10px;
				margin-bottom:-56px;

				position: relative;

				img
				{
					position:absolute;
					top:47px;
					opacity:0;
					transition:opacity 0.2s linear;
				}

				

				

				div.hexagon-center:before
				{
					content:"";
					
					width: 0px;	
					height:0px;

					position: absolute;

					top:-65px;


					border-bottom: 65px solid $blue;
					border-left: 113px solid transparent;
					border-right: 113px solid transparent;

				}

				div.hexagon-center
				{
					background:$blue;
					height:120px;
					position:relative;

					opacity:1;
					transition:opacity 0.2s linear;
				}


				div.hexagon-center:after
				{
					content:"";

					width: 0px;					
					height:0px;

					position: absolute;
					top:120px;
					left:0;
    				

					border-top: 65px solid $blue;
					border-left: 113px solid transparent;
					border-right: 113px solid transparent;
				}		

				span
				{
					margin:50% auto;
					display:block;
					height:120px;
					line-height: 120px;
					text-align: center;

				}
			}


			li:nth-child(7n-2)
			{
				margin-left:128px;
			}
		}
	}
	div#social
	{

		margin:175px auto 0 auto;

		ul
		{
			margin-top:70px;
			text-align: center;

			li
			{
				display: inline-block;

				a
				{
					display:block;
					width:64px;
					height:64px;
				}

				a.github
				{
					background:url('../../img/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.github:hover
				{
					background:url('../../img/github.png') 0 -64px no-repeat;
					transition:background 0.2s linear;	
				}
				a.flickr
				{
					background:url('../../img/flickr.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.flickr:hover
				{
					background:url('../../img/flickr.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.pinterest
				{
					background:url('../../img/pinterest.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.pinterest:hover
				{
					background:url('../../img/pinterest.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.twitter
				{
					background:url('../../img/twitter.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.twitter:hover
				{
					background:url('../../img/twitter.png') 0 -64px no-repeat;
					transition:background 0.2s linear;
				}
				a.linkedin
				{
					background:url('../../img/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
				a.linkedin:hover
				{
					background:url('../../img/github.png') 0 0 no-repeat;
					transition:background 0.2s linear;
				}
			}
		}

	}
}

div#project-details
	{
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		z-index: 0;

		div.panel.left
		{
			width:50%;
			height:100%;
			float:left;
			background:$blue;
			position: relative;
			left:-50%;

			-webkit-transition:left 1s;
			-moz-transition:left 1s;
			-o-transition:left 1s;
			-ms-transition:left 1s;
			

		}
		div.panel.right
		{
			width:50%;
			height:100%;
			float:right;
			background:$blue;
			position: relative;
			right:-50%;

			-webkit-transition:right 1s;
			-moz-transition:right 1s;
			-o-transition:right 1s;
			-ms-transition:right 1s;
			
		}

		div.panel.left.active
		{
			left:0;	
			-webkit-transition:left 1s;
			-moz-transition:left 1s;
			-o-transition:left 1s;
			-ms-transition:left 1s;

		}
		div.panel.right.active
		{
			right:0;
			-webkit-transition:right 1s;
			-moz-transition:right 1s;
			-o-transition:right 1s;
			-ms-transition:right 1s;
			
		}
	}
	div#project-details.active
	{
		z-index: 3;
	}

@media #{$tablet}
{
	div.wrapper{
		width:100%;

		header
		{
			nav
			{
				display: none;
			}

			h2#description
			{
				padding:0 20px;
			}
		}

		
		div#projects
		{
			margin:70px 0 0 0;
			ul
			{
				margin:0;

				li:hover {

					div.hexagon-center {
						opacity:1;
						transition:none;
					}

				}

				li
				{
					display:block;
					height:225px;
					width:100%;
					margin:0 0 5px 0;

					img{
						display: none;
					}

					div.hexagon-center:before
					{
						display: none;
						position:relative;
						top:0;

					}

					div.hexagon-center
					{
						background:$blue;
						position:relative;
						top:0;
						height:225px;
						transition:none;

					}


					div.hexagon-center:after
					{
						display: none;
						position:relative;
						top:0;
					}		

					span
					{
						margin:0;
						display:block;
						height:225px;
						line-height: 225px;
						text-align: center;

					}
				}


				li:nth-child(7n-2)
				{
					margin-left:0;
				}
			}	
		}

		div#social
		{

			margin:70px auto 0 auto;

			h2
			{
				display:none;
			}

			ul
			{
				margin:0;
			

				li
				{
					display: inline-block;

					a
					{
						display:block;
						width:64px;
						height:64px;
					}

					a.github
					{
						background:url('../../img/github.png') 0 -64px no-repeat;

					}
					
					a.flickr
					{
						background:url('../../img/flickr.png') 0 -64px no-repeat;
						
					}
					a.pinterest
					{
						background:url('../../img/pinterest.png') 0 -64px no-repeat;
						
					}

					a.twitter
					{
						background:url('../../img/twitter.png') 0 -64px no-repeat;
						
					}

					a.linkedin
					{
						background:url('../../img/twitter.png') 0 -64px no-repeat;
						
					}

				}
			}
			
		}
	}
}

@media #{$phone}
{
	div.wrapper{
		width:100%;

		header
		{

			h2#description
			{
				text-align: left;
			}
		}
	}
}



